@{
    ViewData["Title"] = "Create Auction";
}
@model auction.Models.RegItem
<h1>New Auction</h1>
<a href="/dashboard">Dashboard</a>
<a href="/logout">Logout</a>
<form asp-controller="Auction" asp-action="process" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span><br>
    
    <label asp-for="StartBid"></label>
    <input type="number" asp-for="StartBid"/>
    <span asp-validation-for="StartBid"></span><br>
    
    <label asp-for="Description"></label>
    <textarea cols="30" rows="10" asp-for="Description"/></textarea>
    <span asp-validation-for="Description"></span><br>
    
    <label asp-for="EndDate"></label>
    <input type="date" asp-for="EndDate"/>
    <span asp-validation-for="EndDate"></span><br>

    <button type="submit">Create Auction</button>
</form>
